#app { height: 100% }
html { 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html,
body {
  position: relative;
  height: 100%;
}


body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}


.title-image{
  margin: 5% 25%;
  width: 50%;
}
.battle-image{
  width:95%;
  margin: 2%;
  border: 5px double black;
}

.timer {
  background-color: rgba(255, 255, 255, 0.1);
  margin: auto;
  bottom: 10%;
}

.col-4 {
  float: left;
  width: 25%;
}

.box {
  font-weight: 500;
  padding: 2.5vw;
}

.box p {
  font-size: 5vw;
  margin: 0;
}

.text {
  font-size: 2.2vw;
}
