#app { height: 100% }
html { 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html,
body {
  position: relative;
  height: 100%;
  max-width: 500px;
  margin:auto;
}


body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}


.title-image{
  margin: 5% 0% 2% 0%;
  width: 100%;
}
.battle-image, .hotel-image{
  width:93%;
  margin: 2%;
  border: 5px double black;
}


.timer {
  background-color: rgba(255, 255, 255, 0.1);
  margin: auto;
  bottom: 10%;
}

.col-4 {
  float: left;
}

.box {
  font-weight: 500;
  font-family: "Podkova", sans-serif;
  padding: 10px;
}

.box p {
  font-size: 35px;
  margin: 0;
  font-family: "Podkova", sans-serif;
}

.text {
  font-size: 15px;
  font-family: "Podkova", sans-serif;
}
